.btn {
  padding: 1.8rem 3.6rem;
  border-radius: 10rem;
  color: $dark-secondary-color;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.compact-btn {
  background-color: $dark-primary-color;
}

.sports-btn {
  border: 1.5px solid $dark-card-background-color;
}
.vans-btn {
  border: 1.5px solid $dark-card-background-color;
}

.wiew-all-btn {
  background-color: $dark-primary-color;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 16rem;
}
